body{
    margin: 0;
    background-attachment: white;
    font-family: 'Times New Roman', Times, serif;

padding-bottom: 30px;
}

.black-sec1{
    background-color: black;
    color: white;
    padding: 23px 10%;
}

.firstimg img{
    margin-left:30%;
    width: 40%;
    height: auto;
    object-fit: cover;
    transition: transform 0.2 ease;
    transition: border-radius 0.2 ease;
}

.firstimg img:hover{
      cursor: pointer;
      border-top-left-radius:10px ;
      border-top-right-radius: 10px;
      transform: scale(1.03);
      filter:brightness(1.10);

}

.light{
    margin-left: 29%;
    font-family: sans-serif;
}

.explain{
    font-family:'Times New Roman', Times ;
    margin-left:22% ;
    font-style: italic;
}
.exp2{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    margin-left:48% ;
    font-style: italic;
    margin-top: -4.35%;
}


.black-sec2{
    background-color: black;
    color: white;
    padding:20px 10px ;
}
.pg2 {
  color: #0c0a0a;
  border: 1px solid #060505;
  padding: 10px 22px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 45%;
  
}
.pg2:hover {
  background: #030303;
  color: #fff;
}  
  






/*2nd*/


.evidence{
  margin-top: 12px;
margin-left: 32%;
font-style: italic;
font-family: 'Times New Roman', Times;
}


.gallery {
  column-count: 3;       
  column-gap: 15px;    
  padding: 15px;
}

.gallery img {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 8px;
  transition: transform 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
  filter:brightness(0.9);
}

.cap1{
  position: absolute; 
  bottom: 10px;
  left: 10px;
  right: 10px;
  color: white;
  opacity: 0; 
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

.gallery-item:hover .cap1 {
  opacity: 1; 
}

.idk1{
  width:300px;
}

.idk1 summary{
  list-style: none;
}

.idk1 img{
  width: 133%;
  display: block;
}

.caption1 {
  margin-top: 6px;
  font-size:14px;
  color: #aaa;
}

.idk2{
  width:300px;
}

.idk2 summary{
  list-style: none;
}

.idk2 img{
  width: 133%;
  display: block;
}

.caption2 {
  margin-top: 6px;
  font-size:14px;
  color: #aaa;
}



  .pg3 {
  color: #0c0a0a;
  border: 1px solid #060505;
  padding: 10px 22px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 45%;
  
  margin-top: 30px;
}
.pg3:hover {
  background: #030303;
  color: #fff;
}  
  



/*3rd*/

.deci{
  font-family:'Times New Roman', Times;
  margin-left:15% ;
    margin-top: 18px;
}

.black-sec4{
    background-color: black;
    color: white;
    padding:20px 10px ;
}

.hey{
  display: flex;               
    justify-content: center;      
    gap: 20px;                   
    margin-top: 50px;
}

fieldset {
    border: 2px solid #333;     
    border-radius: 15px;         
    padding: 20px;               
    width: 300px;               
    text-align: center;          
    background-color: #fff;     
   text-align: center;
}

.footer {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px;
  margin-top: 75px;
  font-size: 14px;
}

.footer a {
  margin-top: 100%;
  text-decoration: none;
  margin-left: 6px;
  font-size: 16px;   
}

.footer a:hover {
  opacity: 0.7;     
}

/*4th*/
.error {
  color: #0c0a0a;
  border: 1px solid #060505;
  padding: 10px 22px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 7px;
}
.error:hover {
  background: #030303;
  color: #fff;
}  


.first{
  font-size: 3rem;
  margin-left: 44%;
  font-family:Arial, Helvetica, sans-serif;
}

.file{
  margin-left:45%;
color:rgb(53, 52, 52);
font-family:Arial, Helvetica, sans-serif;
}

.line{
 margin-left:25%;
color:gray;
margin-bottom: 30px;
font-family:Arial, Helvetica, sans-serif ;
}

.line2{
 margin-left:20%;
color:gray;
font-family:Arial, Helvetica, sans-serif ;
}

.lin2{
 margin-left:45%;
color:gray;
font-family:Arial, Helvetica, sans-serif ;
}

.url{
 margin-left:23%;
color:gray;
font-family:Arial, Helvetica, sans-serif ;
}

.url1{
 margin-left:34%;
 font-size: 0.8rem;
 margin-top: -3%;
color:rgb(59, 58, 58);
font-family:Arial, Helvetica, sans-serif ;

}

.url2{
 margin-left:49%;
 margin-top: -3%;
color:gray;
font-family:Arial, Helvetica, sans-serif ;
}

.url3{
 margin-left:64%;
 margin-top: -3.1%;
color:gray;
font-family:Arial, Helvetica, sans-serif ;
}


.doc{
  margin-top: 40px;
 margin-left:23%;
color:rgb(73, 67, 255);
font-family:Arial, Helvetica, sans-serif ;

}

.doc1{
 margin-left:44%;
 margin-top: -3.4%;
color:gray;
font-family:Arial, Helvetica, sans-serif ;

}

.last{
  margin-left:39.1%;
 margin-top: 3%;
 font-size: 1.2rem;
color:gray;
font-family:'Times New Roman', Times, serif ;
}

.cat img{
  height: 44px;
  margin-top:3.5% ;
  margin-left: 50%;
}


